body {
    background-color: gray;
    color: black;
}
#táblázat {
    margin: auto;
    padding: 2px;
    background-color: white;
}
#második {
    background-color: green;
    height: 60px;
    padding: 2px;
    text-align: justify;
}
