body { 
    background-color: gray;
    color: black; 
}
#táblázat {
    margin: auto;
}
#második {
    background-color: green;
    height: 60px;
    padding: 2px;
    text-align: justify;
    margin: auto;
}
#kép {
    margin:auto;
}
